name: Sphinx build

on:
  push:
    paths:
      - 'docs/**'
      - 'bcb/**'
      - '.github/workflows/sphinx.yml'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Install uv
      uses: astral-sh/setup-uv@v5

    - name: Set up Python 3.10
      run: uv python install 3.10

    - name: Install dependencies
      run: uv sync --group docs

    - name: Build docs
      run: |
        cd docs
        uv run sphinx-build -b html . _build/html

    - name: Upload artifacts
      uses: actions/upload-artifact@v4
      with:
        name: html-docs
        path: docs/_build/html/

    - name: Deploy
      uses: peaceiris/actions-gh-pages@v4
      if: github.ref == 'refs/heads/main'
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: docs/_build/html
